.container{
    display: flex;
    justify-content: space-evenly;
}
.items{
    height: 50px;
    width: 50px;
    color: white;
    background-color: black;
    text-align: center;
    margin: 1px;
}
#item1{
    
}